.screen {
    
}

.screen-border {
    padding: 1.5rem;
    padding-block-end: 0;
    border-radius: .5rem;
    background-color: var(--white);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 2rem 100%, 0 calc(100% - 2.75rem));
}

.screen-safeArea {
    padding: 1rem;
    background-color: #8DB9DC;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 10rem;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}

.screen-buttons {
    display: flex;
    gap: 1rem;    
}

.screen-buttons button{
    border-radius: 50%;
    border: none;
    inline-size: 1rem;
    block-size: 1rem;
    background-color: var(--primary);
}

.screen-buttons > *:active {
    transform: scale(.9);
}

.screen-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-items: center;
    block-size: 2.75rem;
    gap: 7.125rem;
}
.screen-bar .menu-wrapper {
    display: flex;
    align-items: center;
    block-size: 2rem;
    inline-size: 1.5rem;
}

.screen-bar .menu {
    display: grid;
    grid-template-rows: repeat(4, 2px);
    inline-size: 100%;
    cursor: pointer;
    gap: 2px ;
}

.screen-bar .menu:active {
    transform: scale(.9);
}

.screen-bar .menu > * {
    background-color: var(--secondary);
}